* {
    font-family: 'Signika', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; /* instead of directly going to the next section, the pages scrolls */
}
    
.toggle { /* toggle button */
    position: fixed;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background: #fff url(images/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 1000; /*without z-index so high, some elements might block it, so the button won't work anymore */
}
    
.toggle.active { /*when clicking the toggle button, the class becomes active and changes the styling */
    background: #00000000 url(images/close1.png);
    background-size: 35px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
    
section {
    padding: 100px;
    min-height: 100vh;
}

section#work.work,
section#loyalties.loyalties {
    background-color: #f4f7f7;
}

.banner,
.saunakoning,
.loyalties,
.jugo {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.banner .img-sidebar,
.saunakoning .img-sidebar-sk,
.loyalties .img-sidebar-lol,
.jugo .img-sidebar-jugo {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 100%;
}
    
.banner .img-sidebar img,
.saunakoning .img-sidebar-sk img,
.loyalties .img-sidebar-lol img,
.jugo .img-sidebar-jugo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.banner .content-box,
.saunakoning .content-box,
.loyalties .content-box,
.jugo .content-box {
    width: calc(100% - 500px);
}

.navbar {
    width: 100%;
}
    
.banner .content-box, .navbar,
.saunakoning .content-box,
.loyalties .content-box,
.jugo .content-box {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
    
.logo {
    z-index: 1;
    position: fixed;
    top: 40px;
    left: 100px;
    font-size: 2.5em;
    border-bottom: 4px solid black;
    color: #000;
    background-color: #fff;
    padding: 0 8px;
    transition: 0.2s;
}
    
.logo:hover {
    transition: 0.2s;
    border-bottom: none;
    border-top: 4px solid black;
}

.logo a {
    color: #000;
    text-decoration: none;
}
    
.banner .content-box h4,
.saunakoning .content-box h4,
.loyalties .content-box h4,
.jugo .content-box h4 {
    font-size: 1.5em;
    color: #000;
    font-weight: 300;
}
    
.banner .content-box p a,
.saunakoning .content-box p a,
.loyalties .content-box p a,
.jugo .content-box p a {
    font-size: 1em;
    color: #000;
    font-weight: 300;
}
    
.btn {
    background: #fff;
    color: #000;
    padding: 10px 30px;
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    margin-top: 20px;
}
    
.btn:hover {
    background:#f4f7f7;
}

.loyalties .btn {
    background: #f4f7f7;
}

.loyalties .btn:hover {
    background: #fff;
}
    
.navbar {
    position: fixed;
    background: #000000cc;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    padding: 40px;
    z-index: 100;
    right: -100%; /* so the navbar is not shown at first, but appears when clicking the button */
}
    
.navbar.active {
    right: 0; /* show the menu */
}
    
.navbar ul { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    
.navbar ul li {
    list-style: none;
}
    
.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    margin: 10px 0;
    font-weight: 300;
    letter-spacing: 2px;
}
    
.navbar ul li a:hover {
    color: #03989e;
}
    
.social-media {
    position: absolute;
    left: 100px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media img {
    width: 30px; 
}
    
.social-media li {
    margin-right: 20px;
    list-style: none;
}
    
.social-media li img {
    opacity: 0.7;
}

.social-media li img:hover {
    opacity: 1;
}

/* About me */
.about-me {
    background: #fff;
}

.title {
    width: 100%;
    text-align: center;
}

.title h2 {
    position: relative;
    color: #000;
    font-size: 1.5em;
}

.title p {
    max-width: 700px;
    display: inline-block;
}

.about-me .about {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.about-me .about .information {
    min-width: 49%;
    width: 49%;
}

.about-me .about .img-info {
    margin-left: 40px;
}

.about-me .about .img-info img {
    max-width: 70%;
}

/* projects */
.work .about {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.work .about .projects {
    position: relative;
    background-color: #000;
    width: 265px;
    height: 265px;  
    margin: 10px;
    transition: 0.5s;
    text-align: center;
    margin-top: 40px;
}

.work .about .projects .img-project,
.work .about .projects .text-project {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work .about .projects .img-project img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

.work .about .projects .text-project {
    background-color: #000;
    opacity: 0;
    transition: 0.5s;
}

.work .about .projects:hover .text-project {
    opacity: 0.6;
}

.work .about .projects .text-project h3 {
    color: #fff;
    font-size: 1.2em;
}

.work .about .projects .text-project a {
    color: #fff;
    text-decoration: none;
}

.title p {
    margin-top: 20px;
}

@media (max-width: 991px) {
    .banner .img-sidebar,
    .saunakoning .img-sidebar-sk,
    .loyalties .img-sidebar-lol,
    .jugo .img-sidebar-jugo {
        display: none;
    }

    .banner .content-box, .navbar,
    .saunakoning .content-box, .navbar,
    .loyalties .content-box, .navbar,
    .jugo .content-box, .navbar {
        width: 100%;
        padding: 40px;
    }

    .logo {
        position: absolute;
        top: 40px;
        left: 40px;
    }

    .toggle {
        right: 40px;
    }

    .social-media {
        left: 40px;
    }

    section {
        padding: 40px;
    }

    .about-me .about {
        flex-direction: column;
        margin-top: 10px;
    }

    .about-me .about .information {
        min-width: 100%;
        width: 100%;
    }

    .about-me .about .img-info {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        margin-left: 0;
    }

    .navbar ul li a {
        font-size: 1.5em;
    } 
}

@media (max-width: 500px) {
    .work .about .projects {
        padding: 30px 20px;
        max-width: 100%;
        width: 100%;
        margin: 10px 0;
    }
}